import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv("http://bit.ly/w-data")
print("Data is imported successfully!")
print(data)
data.plot(x ='Hours', y ='Scores', style ='o')  
plt.title('Hours vs Percentage')  
plt.xlabel('Hours Studied')  
plt.ylabel('Percentage Score')  
plt.grid()
plt.show()
x = data.iloc[:, :1].values  
y = data.iloc[:, 1].values
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x, y,
test_size = 0.2, random_state = 0)
from sklearn.linear_model import LinearRegression  
reg = LinearRegression()  
reg.fit(x_train, y_train)
print("Coefficient = ", reg.coef_)
print("Intercept = ", reg.intercept_)
line = reg.coef_*x+reg.intercept_
print("Y = ",reg.coef_,"* X + ", reg.intercept_)
plt.scatter(x, y, color='blue')
plt.plot(x, line, color='red');
plt.title('Hours vs Percentage') 
plt.xlabel('Hours Studied')  
plt.ylabel('Percentage Score') 
plt.grid()
plt.show()
print(x_test)

y_predict = reg.predict(x_test) 
print(y_predict)
db= pd.DataFrame({'Actual': y_test,'Predicted': y_predict})
print(db)
hours = 9.25
pred = reg.predict([[hours]])
print("Number of Hours = {}".format(hours))
print("Predicted Score = {}".format(pred[0]))
print("\nIf the student studies for 9.25 hours/day, the score is {}.".format(pred))
